#mainBanner {
  .swiper-slide {
    background-color: #000;
    font-size: 100px;
    opacity: 1;
    transition: 0.5s;

    &.swiper-slide-active {
      opacity: 0.5;
      font-size: 200px !important;
      background-color: #fff;
    }
  }
}


body {
  #family {
    transform: translateX(150%);
    transition: 0.3s ease-in-out;
  }
  
  &.scrolldown {
    #family {
      transform: translateX(0);
      transition: 0.3s ease-in-out;
    }
    
    #hd{
      background-color: #fff !important;
      transition: 0.3s ease-in-out;
      border-bottom: 1px solid rgba(0,0,0,0.5);
      a{
        color: #000 !important;
        padding: 10px 1rem !important;
        transition: 0.3s ease-in-out !important;
      }
    }

  }

}

#faqcontent{
  dt{
    &.expand{
      color: blue;
      + dd{
        display: block !important;
      }
    }
    &:hover{
      color: #aaa;
    }
  }
}